body{
    color: deeppink;
    text-align: center;
    font-family: "montserrat";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(7, 7, 7);
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background: #33A;
    box-shadow: 0px 5px 30px 0px rgb(0,0,0,75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#post{
    padding: 1em;
}

#tagline{
    color: tomato;
}